POSTGRES_URL=postgresql://user:password@host/database
CRON_SECRET=your-random-secret
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_COURSES_URL=https://snhu-courses.vercel.app
HONEYBADGER_API_KEY=
NEXT_PUBLIC_HONEYBADGER_API_KEY=
HONEYBADGER_TRANSFER_CHECKIN_URL=
