<!DOCTYPE html>
<html>
<head>
    <title>SNHU Transfer List - Sorted by subject and course</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <h1>SNHU Transfer List - Sorted by subject and course</h1>
    <table>
        {% for prefix, prefix_courses in grouped_courses.items() %}
            <thead>
                <th align="left">Course Number</th>
                <th align="left">Organization</th>
                <th align="left">Class Title</t>
                <th align="left">Elgibility Timeframe</th>
            </thead>
            <tbody>
            {% for course_number, grouped_courses in prefix_courses.items() %}
                <tr>
                    <td colspan="4" onclick="toggleDetails('{{ prefix }}-{{ course_number }}')"><strong>{{ course_number }}</strong></td>
                </tr>
                {% for course in grouped_courses %}
                    <tr>
                        <td><a href="https://www.snhu.edu/admission/transferring-credits/work-life-experience#/experiences/{{ course['pid']}}">{{ course_number }}</a></td>
                        <td>{{ course['groupFilter2Name'] }}</td>
                        <td>{{ course['title'] }}</td>
                        <td>{{ course['eligibilityTimeframe'] }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
            <tr></tr>
            </tbody>
        {% endfor %} 
    </table>
</body>
<br><br>
<div id="disclaimer"><b>Disclaimer:</b>This in an unofficial compilation. Remember to double-check the official SNHU website for transfer eligibility, and always verify with your advisor!</div>
</html>
